APP_SERVER_ADDR=:8080

APP_DATABASE_DSN=root:password@tcp(127.0.0.1:3306)/final_exam_savior?charset=utf8mb4&parseTime=True&loc=Local
APP_DATABASE_AUTO_MIGRATE=true

APP_REDIS_ADDR=127.0.0.1:6379
APP_REDIS_PASSWORD=
APP_REDIS_DB=0
APP_REDIS_GENERATE_STREAM=fes:stream:generate
APP_REDIS_PREVIEW_STREAM=fes:stream:preview
APP_REDIS_CONSUMER_GROUP=fes-workers
APP_REDIS_CONSUMER_NAME=worker-1

APP_STORAGE_MODE=local
APP_STORAGE_LOCAL_BASE_PATH=./data/storage
APP_STORAGE_PUBLIC_BASE_URL=http://127.0.0.1:8080/storage/local

APP_AUTH_JWT_SECRET=change-me
APP_AUTH_ISSUER=final-exam-savior
APP_AUTH_ACCESS_TOKEN_TTL=2h
APP_AUTH_REFRESH_TOKEN_TTL=720h

APP_SMTP_HOST=smtp.qq.com
APP_SMTP_PORT=587
APP_SMTP_USERNAME=
APP_SMTP_PASSWORD=
APP_SMTP_FROM=

APP_OSS_ENDPOINT=oss-cn-hangzhou.aliyuncs.com
APP_OSS_BUCKET=
APP_OSS_ACCESS_KEY_ID=
APP_OSS_ACCESS_KEY_SECRET=
APP_OSS_BASE_URL=

APP_AI_BASE_URL=
APP_AI_API_KEY=
APP_AI_MODEL=
APP_AI_OCR_MODEL=

APP_GEETEST_CAPTCHA_ID=
APP_GEETEST_PRIVATE_KEY=
APP_GEETEST_VALIDATE_URL=https://gcaptcha4.geetest.com/validate

APP_APP_DEFAULT_ADMIN_EMAIL=admin@qq.com
APP_APP_DEFAULT_ADMIN_PASSWORD=ChangeMe123!
APP_APP_DEFAULT_CATEGORY_NAME=默认分类
APP_APP_SIGNED_URL_TTL=10m
